---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/2016-12-23?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Dec 2016 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2016-12-23","rates":{"AUD":1.3944,"BGN":1.8723,"BRL":3.2688,"CAD":1.3514,"CHF":1.0254,"CNY":6.9457,"CZK":25.869,"DKK":7.1168,"GBP":0.81637,"HKD":7.7608,"HRK":7.2162,"HUF":296.46,"IDR":13435.0,"ILS":3.8244,"INR":67.804,"JPY":117.37,"KRW":1203.9,"MXN":20.692,"MYR":4.474,"NOK":8.7046,"NZD":1.4546,"PHP":49.782,"PLN":4.2215,"RON":4.3383,"RUB":61.275,"SEK":9.2342,"SGD":1.4469,"THB":35.96,"TRY":3.5108,"ZAR":14.01,"EUR":0.9573}}'
  recorded_at: Thu, 08 Jun 2017 06:48:32 GMT
recorded_with: VCR 3.0.3
