---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/latest?base=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 07 Jun 2017 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"USD","date":"2017-06-07","rates":{"AUD":1.3234,"BGN":1.7436,"BRL":3.2713,"CAD":1.3448,"CHF":0.96666,"CNY":6.798,"CZK":23.461,"DKK":6.6316,"GBP":0.77479,"HKD":7.7937,"HRK":6.6023,"HUF":275.17,"IDR":13301.0,"ILS":3.5457,"INR":64.347,"JPY":109.46,"KRW":1124.5,"MXN":18.221,"MYR":4.2605,"NOK":8.4713,"NZD":1.3907,"PHP":49.544,"PLN":3.7366,"RON":4.0744,"RUB":56.624,"SEK":8.7325,"SGD":1.3817,"THB":34.025,"TRY":3.5435,"ZAR":12.865,"EUR":0.8915}}'
  recorded_at: Thu, 08 Jun 2017 06:52:33 GMT
recorded_with: VCR 3.0.3
